.main{
    display: flex;
    padding: 64px;
    padding-left: 32px;
    padding-right:32px ;
}
.Home{
    display: flex;
    flex-direction:column ;
    background-color: #525151;
    padding: 20px;

}
.Historia{
    display: flex;
    padding: 32px;
    color: #ffff;
    font-size: 1.7rem;
    padding-left: 12px;
}
.texto{
    display: flex;
    font-size: 1.2rem;
    color: #ffff;
    padding-left: 24px;
    text-align: justify;
}
@media (max-width: 600px) {
    .texto{
        font-size: 1.0rem;
        padding-left: 4px;
    }
    .Historia{
        font-size: 1.6rem;
    }
    .Home{
        padding-top: 40px;
    }
}